// _base.scss
// ==============


body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  background: $lightGray;
  padding: 0;
  margin: 0;
}

img {
  border: none;
}

a {
  color: #8D0D19;
}

a:hover {
  color: #1A446C;
}

h1 {
  margin-bottom: 1em;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #8D0D19;
  //border-bottom: 1px solid $black;
}

h2 {
  color: #8D0D19;
  margin-bottom: 1em;
  font-size: 20px;
}

h3 {
  color: #8D0D19;
}