#header {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: left;
  background: $darkGray;
  color: $white;
}

#main {
  height: 600px;
  margin: 0;
  padding: 0;
  background: $lightGray;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* Page Content */
#page {
  float: left;
  height: 100%;
  margin-top: 20px;
  padding-left: 2em;
  vertical-align: top;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $darkGray;
  color: $white;
}