// _modules.scss
// ============
/* Navigation */
#navigation {
  float: left;
  width: 150px;
  height: 300px;
  margin-top: 20px;
  padding-right: 10px;
  border-right: 1px solid lighten($black, 70);
}

#navigation a {
  color: $black;
  text-decoration: none;
}

#navigation a:hover {
  //color: #FFFFFF;
  text-decoration: underline;
}

ul.subjects {
  padding-left: 0;
  list-style: none;
  color: $black;
}

ul.pages {
  padding-left: 5px;
  list-style: none;
  color: lighten($black, 30);
}

ul.subjects > li {
  margin-bottom: 10px;
}

.selected > a {
  font-weight: bold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  @include border-radius;
  @include transition-duration(0.2s);
  padding: 10px 10px;
  border: 1px solid #CCC;
  background-color: $white;

  &:hover {
    border: 1px solid lighten(#CCC, 5);
    background-color: darken($white, 2);
  }
}

.message {
   @include border-radius;
   margin: 10px 0;
   padding: 10px;
 }

.erreur {
   @extend .message;
   border: 1px solid lighten($darkRed, 60);
   background-color: lighten($darkRed, 70);
   color: $darkRed;
}

.success {
  @extend .message;
  border: 1px solid lighten($darkGreen, 60);
  background-color: lighten($darkGreen, 70);
  color: $darkGreen;
}