// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;

$black         : #000000;
$white         : #FFFFFF;

$darkGray      : #2d2d2d;
$lightGray     : #f2f2f2;
$darkRed       : #66120b;
$darkGreen     : #266607;
 
$headFont : 'Patua One', sans-serif;
$bodyFont : 'Inika', serif;