@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 5, ../../../../components/sass/_base.scss */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}

/* line 14, ../../../../components/sass/_base.scss */
img {
  border: none;
}

/* line 18, ../../../../components/sass/_base.scss */
a {
  color: #8D0D19;
}

/* line 22, ../../../../components/sass/_base.scss */
a:hover {
  color: #1A446C;
}

/* line 26, ../../../../components/sass/_base.scss */
h1 {
  margin-bottom: 1em;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #8D0D19;
}

/* line 35, ../../../../components/sass/_base.scss */
h2 {
  color: #8D0D19;
  margin-bottom: 1em;
  font-size: 20px;
}

/* line 41, ../../../../components/sass/_base.scss */
h3 {
  color: #8D0D19;
}

/* line 1, ../../../../components/sass/_layout.scss */
#header {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #2d2d2d;
  color: #FFFFFF;
}

/* line 11, ../../../../components/sass/_layout.scss */
#main {
  height: 600px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

/* line 18, ../../../../components/sass/_layout.scss */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* Page Content */
/* line 26, ../../../../components/sass/_layout.scss */
#page {
  float: left;
  height: 100%;
  margin-top: 20px;
  padding-left: 2em;
  vertical-align: top;
}

/* line 34, ../../../../components/sass/_layout.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #2d2d2d;
  color: #FFFFFF;
}

/* Navigation */
/* line 4, ../../../../components/sass/_modules.scss */
#navigation {
  float: left;
  width: 150px;
  height: 300px;
  margin-top: 20px;
  padding-right: 10px;
  border-right: 1px solid #b3b3b3;
}

/* line 13, ../../../../components/sass/_modules.scss */
#navigation a {
  color: #000000;
  text-decoration: none;
}

/* line 18, ../../../../components/sass/_modules.scss */
#navigation a:hover {
  text-decoration: underline;
}

/* line 23, ../../../../components/sass/_modules.scss */
ul.subjects {
  padding-left: 0;
  list-style: none;
  color: #000000;
}

/* line 29, ../../../../components/sass/_modules.scss */
ul.pages {
  padding-left: 5px;
  list-style: none;
  color: #4d4d4d;
}

/* line 35, ../../../../components/sass/_modules.scss */
ul.subjects > li {
  margin-bottom: 10px;
}

/* line 39, ../../../../components/sass/_modules.scss */
.selected > a {
  font-weight: bold;
}

/* line 43, ../../../../components/sass/_modules.scss */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* line 48, ../../../../components/sass/_modules.scss */
.btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 10px 10px;
  border: 1px solid #CCC;
  background-color: #FFFFFF;
}
/* line 55, ../../../../components/sass/_modules.scss */
.btn:hover {
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
}

/* line 61, ../../../../components/sass/_modules.scss */
.message, .erreur, .success {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

/* line 67, ../../../../components/sass/_modules.scss */
.erreur {
  border: 1px solid #f6b2ad;
  background-color: #fbdddb;
  color: #66120b;
}

/* line 74, ../../../../components/sass/_modules.scss */
.success {
  border: 1px solid #c1f9a6;
  background-color: #e2fcd6;
  color: #266607;
}
